{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %} Add Cafe {% endblock %}

{% block content %}


<div class="container my-5">
        <div class="row">
            <!-- First Column: How adding a cafe works -->
            <div class="col-md-6">
                <h2>How Adding a Cafe Works</h2>
                <p>Adding a new cafe to our database is simple and quick. Here's how it works:</p>
                <ul>
                    <li>Fill in the cafe's name and location.</li>
                    <li>Select the services offered such as Wifi, Coffee, and Charging Sockets.</li>
                    <li>Submit the form, and our team will review and approve your submission.</li>
                    <li>Once approved, the cafe will be added to the list for everyone to see.</li>
                </ul>
                <p>If you own or know of a cafe that offers Wifi and would like to add it to our platform, please fill out the form in the right column. We appreciate your contribution to making it easier for people to find great places to work or relax.</p>
            </div>

            <!-- Second Column: Form to add a new cafe -->
            <div class="col-md-6">
                <h2>Add a New Cafe</h2>
                {{render_form(form)}}
            </div>
        </div>
    </div>


{% endblock %}